/* input {
    padding: 10px;
    font-weight: bold;
} */

/* #registration p,
#registration h1,
#resgistration h3 {
    color: white;
} */
#registration {
    overflow-x: hidden;
}

#forms-light {

    background-image: linear-gradient(to bottom right, blue, skyblue);
}

#forms-dark {
    background-image: linear-gradient(to bottom right, black, gray);
}

/* @media only screen and (max-width : 330) {
    #first-name-container {
        width: 100%;
    }

    .right-side {
        padding: 0;
        font-size: small;
    }
} */

.display-none {
    display: none;
}

.display-inline {
    display: inline;
}

#male,
#female,
#others {
    cursor: pointer;
}

button {
    cursor: pointer;
}